.app {
  font-family: Arial, sans-serif;
  width: 100%;
}
a{
  text-decoration: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #b0ffca;
  border-radius: 10px;
}

.navbar-logo {
  height: 40px;
}

.login-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.sidebar {
  width: 250px;
  background-color: #ffd0d0;
  padding: 20px;
  height: 100%;
  margin-top: 10px;
  border-radius: 10px;
}

.sidebar h2,
.sidebar h3 {
  margin: 0 auto;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 5px 0;
}

.sign-out-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.info-container {
  padding: 20px;
  width: 100%;
  margin: 10px;
  border-radius: 10px;
  background-color: #9cccff;
}

.whole-content {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
}

.drop-zone {
  border: 2px dashed #aaa;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  color: #555;
  cursor: pointer;
  width: 300px;
  /* margin: 0 auto; */
  position: relative;
}

.file-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.file-name {
  flex-grow: 1;
  text-align: left;
}

.remove-btn {
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.remove-btn:hover {
  background: darkred;
}

.nav-button {
  display: flex;
  justify-content: space-between;
}

.nav-button button{
  margin: 10px auto;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: #c4aaff;
  cursor: pointer;
}
