.app {
  font-family: Arial, sans-serif;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.nav-left, .nav-right {
  display: flex;
}

.nav-left button, .nav-right button {
  margin-right: 10px;
}

.main-content {
  padding: 20px;
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
}

form label {
  display: block;
  margin-bottom: 10px;
}




.drop-zone {
  border: 2px dashed #aaa;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  color: #555;
  cursor: pointer;
  width: 300px;
  /* margin: 0 auto; */
  position: relative;
}

.file-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.file-name {
  flex-grow: 1;
  text-align: left;
}

.remove-btn {
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.remove-btn:hover {
  background: darkred;
}
